/*Damos incio con los parametros basicos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #fafbff;
}
/*Header & NavBar*/
header{
    background-color: #fafbff;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    top: 0px;
    z-index: 20;
}
.header__logo a img{
    height: 40px;
    margin-left: 30px;
    transition: 0.5s;
}
.header__logo a img:hover{
    transform: translateY(-4px);
}
/*Linea entre el Logo & NavBar Items*/
.header__line{
    margin-left: 15px;
    height: 30px;
    width: 2px;
    background-color: #435b94;
}
/*Estilos en el Navbar*/
.navbar{
    list-style: none;
    display: flex;
    justify-content: start;
}
.navbar__item a{
    text-decoration: none;
    margin-left: 25px;
    color: #435b94;
    font-size: 1rem;
    padding: 5px;
    border-radius: 1rem;
    transition: 0.5s;
}
.navbar__item a:hover{
    background-color: #435b94;
    color:#fafbff;
    transform: translateY(-4px);
}
.navbar__item a:active{
    background-color: #657db7 ;
}
.navbar__item--inicio{
    display: none;
}
/*NavBar responsive*/
#menu-icon{
    font-size: 30px;
    color: #435b94;
    cursor: pointer;
    z-index: 100;
    margin-left: 20px;
    display: none;
}
@media (max-width: 1000px){
    header{
        align-items: center;
        justify-content: space-between;
        height: 10vh;
    }
    #menu-icon{
        display: block;
        margin-right: 2rem;
    }
    .header__logo{
        display: none;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        transition: all .7s ease;
        background-color:#fafbff92 ;
        backdrop-filter: blur(50px);
        box-shadow: 0 0 50px 20px #435b94;
    }
    .navbar li{
        width: 100%;
        text-align: center;
    }
    .navbar__item li:hover{
        background-color: #435b94;
        color:#fafbff;
    }
    .navbar__item--inicio{
        display: block;
    }
    .header__line{
        display: none;
    }
    .navbar__item{
        margin-top: 40px;
    }
    .navbar.open{
        right: 0;
    }
    
}
/*Section Inicio*/
main{
    min-height:100%;
}
section.inicio{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
/*Perfilando el Inicio*/
.container__inicio{
    display: flex;
    justify-content: start;
    align-items: center;
}
.inicio__logo {
    display: flex;
    height: 25rem;
    margin-left: 100px;
}
.inicio__text{
    overflow: visible;
    width: auto;
    text-align: center;
}
.inicio__text h1{
    font-family: "Sora", sans-serif;
    font-size: 80px;
    font-weight: 400;
    color:#435b94;
}
.inicio__text p{
    color: #435b94;
    font-size: 30px;
}
.container__inicio--edifice{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.container__inicio--edifice img{
    height: 600px;
}
@media screen and (max-width: 1000px){
    .inicio{
        margin-top: 10vh;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .container__inicio{
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inicio__logo{
        width: 7rem;
        height: auto;
        margin-left: -20px;
    }
    .inicio__text h1{
        font-size: 30px;
        font-weight: 400;
    }
    .inicio__text p{
        font-size: 15px;
    }
    .container__inicio--edifice{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }
    
}
/* Estilos de la seccion nosotros */
.nosotros {
    display: flex;
    overflow: hidden;
    height: 100vh;
}
/* Estilos del contenedor de la imagen */
.container__img {
    margin: 10px;
    margin-bottom: 0;
    width: 40vw;

}

.container__img {
    position: relative; /* Necesario para que el rectángulo esté detrás */
    display: inline-block; /* Ajusta el tamaño al contenido */
    width: fit-content;
}

.container__img::before {
    content: ""; /* Genera el rectángulo */
    position: absolute; /* Posiciona detrás de la imagen */
    top: 10%; /* Ajusta según la necesidad */
    left: 12%; /* Ajusta según la necesidad */
    width: 70%; /* Ancho del rectángulo */
    height: 55%; /* Alto del rectángulo */
    background-color:transparent; /* Color de fondo */
    transform: rotate(10deg); /* Rotación */
    z-index: -1; /* Envía el rectángulo detrás de la imagen */
    border: 2px solid #3355AA; /* Borde azul */
    border-radius: 8px; /* Bordes redondeados si los necesitas */
    box-shadow: 0 0 10px #435b96;
}

.container__img img {
    display: block; /* Elimina espacios extra */
    max-width: 100%; /* Asegura que la imagen no sobresalga */
    border-radius: 8px; /* Opcional, para bordes redondeados */
    mask-image: linear-gradient(black 95%, transparent);
    z-index: 1;
    animation: fadeIn 1s ease-out;   
    transition: transform 0.3s ease-in-out;  
}
/*animacion de la imagen*/
.container__img img:hover {
    transform: scale(1.05); 
}


/* Contenedor para las cajas de presentacion */
.container__presentacion{
    width:60vw ;
    position: relative; 
}
/* Caja de presentacion */
.presentacion{
    position: relative;
    border-image: linear-gradient(to right, #435b94 25%, white 50%, #435b94 75%) 1;
    padding: 10px;
    margin: 40px;
    box-shadow: 0 0 10px #435b96; /* Azul difuminado */
    letter-spacing: 1px;
    text-align: justify;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out;
    border: 3px #435b94 solid;
    border-radius: 10px;
}
.presentacion:hover {
    transform: scale(1.05); 
}

.presentacion p {
    color: #435b94; /*#2e8b57 o #33333*/
    font-size: 20px; 
    margin: 10px 0; 
}



/* Contenedor de subcajas */
.container__cards{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

/* Subcajas */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px #435b94 solid;
    padding: 5px;
    padding-top: 2px;
    width: 15vw;
    border-radius: 10px;
    box-shadow: 0 0 30px #435b94;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}
.card p {
    color: #435b94; /*#2e8b57 o #33333*/
    font-size: 16px; 
    margin: 5px 0; 
    text-align: center; 
    padding: 0 10px; 
}

/* Imagenes de las subcajas */
.card img {
    margin-top: 10px;
    width: 150px;
}

/* Animación de entrada para la imagen (suaviza la aparición) */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/*Hacer la seccion de nosotros responsive*/
@media (max-width: 900px) {
    .nosotros {
        display: block;
        height: auto;
    }

    .container__img {
        width: 100%;
        margin: 0;
    }

    .container__img img {
        width: 100%;
        mask-image: none;
    }

    .container__presentacion {
        width: 100%;
        margin: 0;
    }

    .presentacion {
        margin: 20px 10px;
        height: auto;
    }

    .contenainer__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        margin: 20px 10px;
    }

    .card {
        width: 45%; /* Ajusta según necesidad */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
        height: 70%;
        margin-bottom: 5px;
    }

    .card p {
        margin: 5px 0;
        padding: 0 5px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


#servicios{
    width:100vw;
    height:85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.servicio__item{
    background-color: #435b94;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;  
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out; 
}
.servicio__item:hover{
    transform: scale(1.05); 
}
.servicio__item img{
    width: 200px;
    height: 230px;
    border-radius: 10px;
    margin-top: 20px;
}
button {
    width: 300px;
    padding: 8px;
    text-align: center;
    margin-left: 74vh;
    border-radius: 10px;
    border-color: #435b94;
    box-shadow: 0 0 20px #435b94;
    color: #435b94;
    font-size: 17px;
}


h2 {
    color: #435b94;
    font-size: 300%;
    transition: all 0.3s ease-in-out;
    margin-left: 30px;
}

h2:hover {
    color: #435b96;
    transform: scale(1.1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}
/* dando estilos a los distintas secciones (general,contacto y telfono)*/
.general {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.contacto {
    width: 50%;  
    margin-top: 40px;
    margin-left: 30px;
}

.telefonos {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 280px;
}

.ubicacion {
    margin-left: 30px;
    margin-top: 1px;
}

.telUbi{
    width: 50%;
    display: grid;
}
placeholder {
    color: #b4b4b4;;
}

input:hover{
    background-color: #ecebeb;
}

input {
    font-size: 150%;
    width: 700px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-bottom: 2px solid #b4b4b4;
    transition: all 0.3s ease; 
}

input:hover {
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    border-color: #007BFF; 
}
label {
    color: #435b94;
    font-size: 150%;
    margin-top: 15px;
    margin-left: 30px;
}
textarea {
    width: 630px;
    height: 350px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 8px;
    transition: all 0.3s ease; /* Transición suave para las animaciones */
}
@keyframes move-border {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
textarea:hover {
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transform: scale(1.02); 
    border-color: #007BFF; /* Cambia el color del borde */
    transition: all 0.3s ease; 
}

button {
    margin: 10px;
    width: 100px;
    height: 40px;
    margin-left: 30px;
}

button:hover {
    background-color:#435b94;
    padding: 5px;
    color: #fafbff;
    width: 100px;
    height: 40px;
}
@media (max-width: 900px) {
    .general {
        flex-direction: column; /* Los elementos se apilan en columna */
        align-items: center; 
    }

    .contacto, .telefonos {
        width: 80%; 
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .telefonos > input {
        width: 20vh;
    }

    .telefonos > img {
        opacity: 0;
    }

    input, textarea {
        width: 95%; 
        margin-left: 0;
    }

    textarea {
        height: 250px; 
    }
    button {
        width: 80px;
        height: 35px;
    }
}
/*footer*/
.footer{
    background-color: #24262b;
    border: 1px black solid;
    padding: 80px 0;  
    text-transform: capitalize; 
}

/*Contenedor*/
.contenedor_footer{
    max-width: 1200px;
    margin: 0 auto;
}

/*estilo para las listas*/
.footer ul li{
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
    user-select: none;
}
.footer ul li:hover{
    color: #ffffff;
    padding-left: 6px;
}

/*Filas*/
.filas_footer{
    display: flex;
    flex-wrap: wrap;
}

/*Informacion*/
.informacion{
    width: 25%;
    padding: 0 15px;
    
}

/*Estilos de texto*/
.informacion h4{
font-size: 20px;
color: #ffffff;
margin-bottom: 25px;
font-weight: 500;
border-bottom: 2px solid #00c3ff;
padding-bottom: 10px;
display: inline-block;
user-select: none;
}

.titulo_centrado{
    text-align: center;
}

/*Estilo a los enlaces*/
.footer ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
/*Iconos de redes sociales*/
.redes_sociales a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}

.redes_sociales a:hover{
    background-color: #FFD700;
}

#mapa {
    width: 50%; /* Hace que el mapa ocupe el espacio de dos columnas */
    padding: 15px;
    padding-top: 0;
    margin-bottom: 30px;
    user-select: none;
}

#mapa h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    user-select: none;
}

/* Estilos para el iframe dentro del contenedor mapa */
.map iframe {
    width: 80%; 
    height: 235px; /* Ajusta la altura para que quede más bajo */
    margin: 0 ;
    border: 0; /* Elimina el borde */
    display: block; /* saca el espacio debajo del iframe */
    border-radius: 8px;
}

@media (max-width:900px){
    .filas_footer{
        text-align: center;
    }
    .informacion{
        width: 100%;
        margin-bottom: 20px;
    }
    #mapa{
        margin: 0 auto;
    }
    .map {
        width: 100%; 
    }
    .map iframe{
        width: 100%;
    }
}

